/*changes the entire background */
td-layout-nav{
  background-image: url("https://s3.amazonaws.com/nightlife2-webapp/img/background4.jpg");
}

/*color for the area below home, user, todo */
td-navigation-drawer{
  background-color: black;
}

/*background color for home, user, todo */
mat-nav-list{
  background-color: white;
}

mat-icon{
  color: white;
}
