#addTodo {
  flex-basis: 100%;
  max-width: 100%;
}

#title input {
  width: 16%;
  min-width: 100px;
}

#list-title {
  padding-right: 10px;
}

/* Changes the todo at the top of the page */
#todo-list-title{
  font-family: "monofont";
  color: green;
}

/* Changes the color of the words in the filter when clicked on */
mat-form-field{
  color: white;
}

/* Changes the expansion cards in the center */
mat-expansion-panel{
  background-color: black;
}

/* Changes the title of the cards */
mat-panel-title{
  color: green;
}

/* Changes the color of the words in the expansion cards in the center */
mat-panel-description{
  color: green;
}

/* Changes the title bar */
mat-card{
  background-color: black;
}

/* Changes the center */
mat-card-content{
  background-image: url("https://s3.amazonaws.com/nightlife2-webapp/img/background4.jpg");
}

